<div class="container">


  <div class="well">

    <div class="new_form">
      <form class="adding" ng-submit="vm.create()">
        <input placeholder="Name" ng-model="vm.vendor.name">
        <input placeholder="City" ng-model="vm.vendor.city">
        <input placeholder="State" ng-model="vm.vendor.state">
        <input placeholder="Website Link" ng-model="vm.vendor.website">
        <input placeholder="Image" ng-model="vm.vendor.image">
          <button type="submit">Create</button>
      </form>
    </div>

  </div>

</div>
