<!-- <div data-ng-repeat="orders in vm.orders ">
  <div class="order">
      <h3> <a data-ui-sref="orderShow({id: order.id})"> {{order.name}} </a></h3>
      <h4> {{vendor.state}}, {{vendor.city}} </h4>
      <img data-ng-src="{{vendor.image}}" />
  </div>
</div> -->


<h2>these are all the orders for {{vm.product.name}} of {{vm.vendor.name}}</h2>
<button type="submit" ng-click="vm.product.$remove({vendor_id: vm.vendor.id, product_id:vm.product.id})">Delete Product</button>



  <div data-ng-repeat="order in vm.orders ">
    <div>
        <h3>{{order.customer_name}}</h3>
    </div>
  </div>
