<article>
  <h3> {{vm.vendor.name}} </h3>
  <p> {{vm.vendor.city}} , {{vm.vendor.state}} </p>
  <p> {{vm.vendor.website}} </p>
  <p> <img ng-src={{vm.vendor.image}}> </p>
</article>
<button type="submit" ng-click="vm.vendor.$remove(vm.vendor.id)">Delete</button>


<button class="edit_vendor" ng-click="edit = !edit">Edit This Vendor</button>
  <div class="edit_form">
    <form class="editing" ng-show="edit" ng-submit="vm.update(vm.vendor)">
      <input placeholder="Name" ng-model="vm.vendor.name">
      <input placeholder="City" ng-model="vm.vendor.city">
      <input placeholder="State" ng-model="vm.vendor.state">
      <input placeholder="Website Link" ng-model="vm.vendor.website">
      <input placeholder="Image" ng-model="vm.vendor.image">
        <button type="submit" >Update</button>
    </form>
  </div>

<h1>Products of {{vm.vendor.name}} </h1>

<div data-ng-repeat="product in vm.products">
  <h3>Name: {{product.name}}</h3>
  <h4>Category: {{product.category}}</h4>
  <h4>Amount: {{product.amount}} {{product.unit_of_measure}}</h4>
  <h4>Description: {{product.description}}</h4>
  <p> <img ng-src="{{product.image}}"> </p>



</div>
