


.vendor img {
  width: 500px;
  height: 300px;
  border-radius: 50px;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -100;
}

.bgvideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.homebox {
  position: absolute;
  height: 350px;
  max-width: 600px;
  border-radius: 40px;
  background: rgba(255, 255, 255, .4);
  top: 50%;
  left: 40%;
  margin: -100px 0 0 -150px;
  text-align: center;
  font-size: 43px;
  vertical-align: middle;
  background-image: url(../images/wood.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  font-family: 'Sancreek', cursive;
}

a {
  text-decoration: none;
}

.logo {
  height: 260px;
}

<<<<<<< HEAD
/* media queries*/

@media screen and /*(min-width: 0) and*/ (max-width: 600px) {
.bgvideo {
  display: none;
  /*background-color: black;*/
}
.fullscreen-bg {
  display: none;
  }
.homebox {
  margin: 0 auto;
}
=======
.capitalize {
  text-transform: capitalize;
>>>>>>> 6de22cb77b13d60b36465b856814516ad7e5d29c
}
